*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
}

header {
  font-family: 'Old Standard TT', serif;
  color: #3e4149;
  position: inherit;
  text-align: center;
  display:block;
  /*border-style:solid;
  border-width:thin;
  background-color: #c9d6de;*/
  /*background-image: url("sky.JPG");*/
  /*background-image: url("flower.jpg.jpg");*/
  /*background-image: url("IMG_2339.jpg");*/
  /*background-image: url("2461.jpg");*/
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;

}



img {
  width: 200px;
  height: 200px;
  border-radius: 25%;

}

body {
  background-color: #c9d6de;

}

h1 {
  font-size: 60px;
  font-style:normal;
  font-weight: bolder;
  font-stretch: extra-expanded;
  padding-bottom: 35px;
  padding-top: 100px;
}

.intro {
  padding-top: 35px;
  padding-bottom: 100px;
  font-size: 30px;
  font-style: oblique;
}

.text{
  color: #52616a;
}


nav ul {
  /*border-style: solid;
  border-width: thin;*/
}

nav li {
  display: inline;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  /*border-style: solid;
  border-width: thin;*/
}

.test {
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  font-size: x-large;
}

a:link {
  color: #1e2022;
}

a:hover {
  color: #f0f5f9;
}

body {
  font-family: 'Old Standard TT', serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom:40px;

}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav {

}

footer {
  position: inherit;
  text-align: center;
  display:block;
  padding-top: 40px;
  padding-bottom:40px;
}
